form.create-note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
  margin: 30px auto 20px auto;
  padding: 15px;
  position: relative;
  width: 480px;
}

form.create-note input,
form.create-note textarea {
  border: none;
  font-family: inherit;
  font-size: 1.2em;
  padding: 4px;
  resize: none;
  outline: none;
  width: 100%;
}

form.create-note button {
  background: #f5ba13;
  border: none;
  border-radius: 50%;
  bottom: -18px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  color: #fff;
  cursor: pointer;
  height: 36px;
  position: absolute;
  right: 18px;
  outline: none;
  width: 36px;
}

form.create-note button:hover {
  background: #f5ba13;
  opacity: 0.9;
}
