.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  float: left;
  margin: 16px;
  padding: 10px;
  width: 240px;
}
.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}
.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.note button {
  background-color: white;
  border: none;
  color: #f5ba13;
  cursor: pointer;
  float: right;
  height: 36px;
  margin-right: 10px;
  position: relative;
  outline: none;
  width: 36px;
}
